.DS_Store
.vscode
.idea
certs/*
!certs/.gitignore
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
extended-api-server-kubeconfig
config-eks
local_kubeconfig
node-restarter-kubeconfig
tls.key
tls.crt
record.md
record_CN.md
1-video.md
2-video.md
3-video.md
4-video.md
5-video.md