apiVersion: v1
kind: Service
metadata:
  name: infraops-service
  namespace: default         #  Deployment  and  Secret same ns
spec:
  selector:
    app: k8s-cloud-node-manager  # Deployment çš„ template.metadata.labels
  ports:
    - name: https
      protocol: TCP
      port: 443             # Service  port
      targetPort: 443       # Deployment  containerPort
  type: ClusterIP           #  default type